.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin-top: 100px;
}
.button {
  display: flex;
  height: 4em;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 1.4em;
  background-color: gray;
  color: black;
  outline: 1px solid black;
}
.calc-wrapper {
  width: 480px;
  height: 600px;
}
.row {
  display: flex;
  width: 100%;
}
.operator {
  background-color: orange;
  color: white;
}
.input {
  display: flex;
  height: 4em;
  flex: 1;
  background-color: black;
  outline: 1px solid gray;
  color: white;
  justify-content: flex-end;
  padding: 0.5em;
  font-weight: bold;
  font-size: 1.4em;
  align-items: center;
}
.clear-btn {
  display: flex;
  flex: 1;
  height: 4em;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
  font-size: 1rem;
  height: 4em;
  background-color: lightgray;
}
